

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: center;
  justify-items: stretch;
}

.maincontent{
  background-color: white;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  box-shadow: -35px 4px 63px -38px rgba(0,0,0,0.62);
  -webkit-box-shadow: -35px 4px 63px -38px rgba(0,0,0,0.62);
  -moz-box-shadow: -35px 4px 63px -38px rgba(0,0,0,0.62);
  padding-top: 3rem;
  padding-left: 2rem;
}
